<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetSession</title>
</head>
<body>
    <h4>Get Session</h4>
    {{name}} 
    <br><br>
    <hr>
    <br><br>
    {{request.session.get_session.cookie_age}}
    <br><br>
    <hr>
    <br><br>
    {{request.session.get_expiry_date}}
    <br><br>
    <hr>
    <br><br>
    {{request.session.get_expiry_age}}
    <br><br>
    <hr>
    <br><br>
    {{request.session.get_expire_at_browser_close}}
    <br><br>
    <hr>
    <br><br>

    <div>
        <strong>
            <a href="{% url 'set' %}">SET_LINK</a><br><br>
            <a href="{% url 'del' %}">DEl_LINK</a>
        </strong>
    </div>
</body>
</html>